.margin2{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.responsive{
    width: 100%;
    max-width: 400px;
    height: auto;
}
html{
    background-color: #fae3d9;
    /* align: middle; */
}
.margin {
    align-content: center;
}
.welcome{
    font-family: 'Julius Sans One', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 144px;
    line-height: 60px;
    color: #745151
}
.profile{
    font-family: 'Julius Sans One', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 40px;
    color: #745151;
}
.name{
    font-family: 'Reenie Beanie', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 130px;
    line-height: 218px;
    color: #8ac6d1;
}
.contact{
    font-family: 'Reenie Beanie', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 100px;
    line-height: 218px;
    color: #745151;
}
.line{
    position: absolute;
    width: 980px;
    height: 0px;
    left: 230px;
    border: 1px solid #745151;
}